node_modules
cache
artifacts
config/*
.DS_Store
outputInfo.json
config/.DS_Store
!config/keys
!config/nodeConfigTier1-2.json
!config/nodeConfigTier3.json
!config/orbitSetupScriptConfig.json
network.json
docker-compose/services/blockscout-db-data
docker-compose/services/redis-data
docker-compose/services/stats-db-data
docker-compose/services/logs
.DS_Store
